{% extends "AppFood/inicio.html" %}

{% block titulo %} Formulario de Reservas {%endblock%}

{% block content %}

<h1>Formulario para registro de tu reserva</h1>
</form>
    <form action="{% url 'Reservas' %}" method="post">
    {% csrf_token %}
    
    {{ form.as_p }}

    <input type="submit" value="Enviar">
    </form>
<br><hr>

{% if reservas%}
{% for reserva in reservas %}
    <p> cliente: {{ cliente.nombre }}</p>
    <p> reserva: {{ cliente.reserva}}</p> 
 {%endfor%}
{%else%}
 <h1>No hay reservas registradas en este momento</h1>
{%endif%}
{%endblock%}